version: '3.8'

services:
  db:
    image: postgres:16
    container_name: coffee_db
    environment:
      - POSTGRES_DB=coffee_db
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=password
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
volumes:
  postgres_data: